---
layout: default
title: Home
image: "andrewaguiar"
---
<div class='about'>
  <div class='avatar'>
    <img class='img-responsive img-circle' src='/public/images/andrewaguiar.jpg' alt='Andrew S Aguiar profile photo'/>
    <h1 class='text-center'>ANDREW S AGUIAR</h1>
  </div>

  <p class='lead'>I've been working as a <span class='special'>software developer</span> for 15 years, working with
  <span class='special'>java desktop (swing)</span>, <span class='special'>java web</span>, <span class='special'>ruby</span>,
  <span class='special'>javascript</span> and most recently with <span class='special'>elixir</span>.</p>

  <p>I worked as a java and java web <span class='special'>instructor</span> at <a target='_blank' href='https://www.caelum.com.br'>caelum</a>
  for 4 years and since jan 2018 I'm also <span class='special'>co-owner</span> at
  <a target='_blank' href='https://digaxisapp.com.br/'>digaxisapp</a> (a side project with some friends).</p>

  <p class='lead'>You can found more information about me in my
  <a target='_blank' href='https://br.linkedin.com/in/andrewaguiar' class='social-link'>linkedin</a>, see some of my codes in my
  <a target='_blank' href='https://github.com/andrewaguiar' class='social-link'>github</a>, check my videos in my 
  <a target='_blank' href='https://www.youtube.com/c/andrewaguiar' class='social-link'>youtube</a>
  channel and read some posts I've written here as well.
</div>

<h2>Skills</h2>

<!-- Last updated 2022 -->
<ul>
  <li>Web Development - HTML, CSS, Javascript (13y)</li>
  <li>Ruby (9y)</li>
  <li>NodeJs (5y)</li>
  <li>Elixir (3y)</li>
  <li>Typescript (2y)</li>
  <li>Java(10y)</li>
  <li>Web development instructor (4,5y)</li>
</ul>

<h2>Posts</h2>

<ul class='unstyled-list'>
  {% for post in paginator.posts %}
    <li class='post'>
      <h3><a href='{{ post.url }}'>{{ post.title }}</a></h3>
      <small>{{ post.date | date_to_string }}</small>
    </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">More recent</a>
  {% endif %}
  ...
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% endif %}
</div>
{% endif %}
