<style>
body {
  background-color: #ffffff;
  color: #374151;
  font-family: sans-serif;
  font-weight: 400;
  font-size: .9em;
  word-wrap: break-word;
  border-top: 3px solid #863436;
  padding: 0;
  margin: 0;
}
@media (min-width: 660px) {
body {
  font-size: 1.30em;
}
}
.social-link {
  display: inline-block;
}
.special {
  color: #8a0b0b;
}
h2 {
  margin: 1em 0;
  padding: 0;
}
a,
a:visited {
  font-weight: 400;
  color: #190638;
  text-decoration: none;
}
p,
li {
 line-height: 40px;
}
blockquote {
  margin: 0;
  padding-left: 1em;
  border-left: 6px solid #4e2a8e;
  background-color: #f9f6ff;
  border-radius: 2px;
}
img {
  background-color: white;
  max-width: 100%;
}
.container {
  padding: 13% 6%;
}
@media (min-width: 660px) {
.container {
  padding: 8% 22%;
}
}
.about h1 {
  font-size: 2em;
  letter-spacing: -2px;
  text-align: center;
  text-transform: uppercase;
  margin: 1.4em 0;
}
.avatar {
  width: 100%;
  text-align: center;
}
.avatar img {
  width: 120px;
  display: inline;
  border-radius: 50%;
  border: 1px solid #cccccc;
}
.avatar ul li {
  display: inline;
}
.unstyled-list {
  list-style: none;
  padding: 0;
}
.post {
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
}
.post small {
  font-size: 0.7em;
  line-height: 20px;
}
.post h3 {
  line-height: 32px;
  margin: 0;
  font-size: 1em;
}
.post-date {
  margin-bottom: 40px;
}
a,
a:visited {
  color: #4e2a8e;
}
.highlighter-rouge {
  background-color: #272822;
  color: #f7f7f7;
}
code.highlighter-rouge {
  padding: 2px 4px 2px 4px;
  border-radius: 3px;
}
.highlight {
  line-height: 24px;
  padding: 1%;
  overflow: auto;
}
.highlight code span {
  font-size: 1em;
}
.photos-list li img {
  max-width: 100%;
}
.fb_iframe_widget,
.fb_iframe_widget iframe {
  max-width: 100%;
  overflow: hidden;
}
</style>
